[Unit]
Description=Run mattermost channel deleter script

[Timer]
Unit=mattermost-channel-deleter.service
OnCalendar=*-*-* 4:00:00

[Install]
WantedBy=timers.target
